### CASA0002

# Urban Simulation
***
## Python Review

Mateo Neira
***

### Many kinds of Python
#### The Jupyter Notebook

The easiest way to get started using Python, and one of the best for research data work, is the Jupyter Notebook.

In the notebook, you can easily mix code with discussion and commentary, and mix code with the results of that code;
including graphs and other data visualisations.

Jupyter notebooks consist of discussion cells, referred to as "markdown cells", and "code cells", which contain Python. This document has been created using Jupyter notebook, and this very cell is a **Markdown Cell**.

In [3]:
print("This cell is a code cell")

This cell is a code cell

### Typing code in the notebook

When working with the notebook, you can either be in a cell, typing its contents, or outside cells, moving around the notebook.

* When in a cell, press escape to leave it. When moving around outside cells, press return to enter.
* Outside a cell:
  * Use arrow keys to move around.
  * Press `b` to add a new cell below the cursor.
  * Press `m` to turn a cell from code mode to markdown mode.
  * Press `shift`+`enter` to calculate the code in the block.
  * Press `h` to see a list of useful keys in the notebook.
* Inside a cell:
  * Press `tab` to suggest completions of variables. (Try it!)
  
*Supplementary material*: Learn more about [Jupyter notebooks](https://jupyter.org/).

**Python** is an extremely popular and versatile high-level programming language that was created by Guido Van Rossum in the 90.
It is a general-purpose language focusing on procedural programming (which we will focus on) and object oriented programming.

In [4]:
# let's start with printing "hello world"
print("hello world")

hello world

### Comments

Code after a `#` symbol doesn't get run.

In [5]:
print("This runs") # print "This doesn't"
# print This doesn't either
print("This doesn't either")

This runs
This doesn't either

### Variable assignment

A value/object stored in computer’s memory ”=“. 

For example, we could store "hello world" as a variable x:

>x = "hello world"

Keep in mind that when we generate a result, the answer is displayed, but not kept anywhere.

In [6]:
2*3

6

If we want to get back to that result, we have to store it. We put it in a box, with a name on the box. This is a **variable**.

In [7]:
result = 2*3
print(result)

6

### Objects and types

An object, like `result`, has a type. Here we see that the object 'result' has type "int".
`int` means a integer object.

In [8]:
type(result)

int

### Basic Data Types

Strings(str): an ordered sequence of characters. 
>Sample_string=“hello world”

Integers(int): Positive/Negative whole numbers 
>sample_int = 3619

Floats(float): Real number with floating point. 
>Sample_float= 1.126

Boolean(bool): either True or False
>Sample_bool = True

### Composite data-types

Sequence : list, tuple, range

> l1 = []

Mapping : dict

> d1 = {'stephen':'London'}

Sets: set

> s1 = {1,10}

In [9]:
# you can access each character of a string through an index

# first element
x = 'hello world'
print(x[0])

# second element
print (x[1])

# slice
print (x[0:5])

h
e
hello

### Lists
A list is a mutable ordered sequence of items. The items of a list are arbitrary objects. By 'mutable' we mean that we can change the values inside the list, and by 'ordered' we mean that each item is indexed and can be accessed through this index.
> mylist = []

In [10]:
# lists are defined by [] or list()
list1=[1,2,3,4,5,6]
print(list1)
# lists can be sliced, notice here that the number in between [] refers to the index
print (list1[1])
print (list1[2:])

# list methods - pop and append
list1=[1,2,3,4,5,6]

#we can add an element to the end of a list with .append
list1.append(7)

#we can remove an element from the list with .pop
list1.pop(2)
print (list1)

[1, 2, 3, 4, 5, 6]
2
[3, 4, 5, 6]
[1, 2, 4, 5, 6, 7]

### tuples

an ordered immutable collection of one or more items.
> my_tuple = ('london', 'new york')

In [11]:
# tuples are defined by () or tuple()
tup1=(1,2,3,4)

# tuples are immutable, once a tuple is created, 
# you cannot change, add, remove, or reassign any of its elements.
tup1[0]=1 # Replace the element at index 0 with a new value.

TypeError: 'tuple' object does not support item assignment

### dictionary

A dictionary is an unordered collection of data in a key:value pair.

> my_dict = {'key1': 10}

In [12]:
# dicts are defined by {key:vaue} or dict()
d1 = {}
d1['course']="urban simulation"
d1['duration']=10
d1['location']="London"
print(d1)

#access item in dictionary
print(d1['course'])

{'course': 'urban simulation', 'duration': 10, 'location': 'London'}
urban simulation

### sets

Unordered collections of unique elements.

>sample_set = {"Camden","Hackney","Westminster"}

In [13]:
#sets are defined by {} or set()
set1 = {1,1,1,1,10}
set1

{1, 10}

In [14]:
# sets operations

set1={1,1,1,1,10}
set2={1,1,1,1,20}

print (set1.intersection(set2))

print (set1.union(set2))

print (set1.difference(set2))

{1}
{1, 10, 20}
{10}

### Range

Immutable sequence of numbers and is commonly used for looping a specific number of times in a for loop. Its three parameters are the beginning of range, the end of range and its increments.

> range(1,10,1)

In [15]:
list(range(1,10,2)) # range(start, stop, step)

[1, 3, 5, 7, 9]

## Algorithms

An algorithm is a sequence of operations that need to be performed to solve a problem or carry out a process.


## Program
A program is a series of software instructions to control the operation of a computer. A program can contain multiple algorithms.

In [16]:
# a simple program
width = 2
height = 3
area = width * height
print(area)

6

### Basic Arithmatic Operations

In python there are a number of basic arithmatic operations

    +    addition
    -    subtraction
    *    multiplication
    /    division
    **   exponentiation
    %    modulo (remainder of division)
    ==   equality (true/false)

In [17]:
# perform basic mathematic operations on the variables
a = 20
b = 60
c = 80
z = ((a+b+c)/20)**2
print (z)

64.0

### Functions

We can wrap code up in a **function**, so that we can repeatedly get just the information we want.

A function are statements which is executed when it is called. It uses the keyword def().

> def newFunc():

we use the keyword return to specify what we want the function to return

```python 
    def newFunc():
        return 'hello world
```

In [18]:
def area(width, height):
    return width * height

In [19]:
area(5, 12)

60

### Control Structure

Control structures let us control the flow in which individual statements or functions are called.

![control structure](http://net-informations.com/python/flow/img/control.png)

Here we will look at iteration and selection control structures in python:

* **Branching**: if/else

* **Loop/Iteration** : for/in , while

#### If statement
Conditional Statement in Python are handled by the IF statement.

In [20]:
### if/else conditions
steps=9
if steps==10:
    print ("True")
else:
    print ("False")

False

#### for statement
For statements are used when you have a block of code which you want to repeat. The **For** keyword is used to loop over an iteratable object such as strings, lists, range.

In [21]:
# list as an iterator
list1=[1,2,3,4,5,6]
for i in list1:
    print (i)

1
2
3
4
5
6

#### while statement

While statement is used when a condition needs to be checked for each iteration, or to repeat a block of code forever.

In [22]:
### while loops
steps=10
i=0
while i<steps:
    print (f'hello world: {i}')
    i=i+1 #store a value

hello world: 0
hello world: 1
hello world: 2
hello world: 3
hello world: 4
hello world: 5
hello world: 6
hello world: 7
hello world: 8
hello world: 9

### Classes: objects in python

Everything is an object in Python which are defined using classes. These are defined by the keyword class.

> class myClass:

Functions within objects are called methods. We can access these with a dot.

> "hello world!".upper()

In [23]:
class City:
    def __init__(self, name, pop, area):
        self.name = name
        self.population = pop
        self.area = area
        self. density = pop/area
    def info(self):
        print(f'name: {self.name}, population: {self.population}, area: {self.area}, density {self.density}')

In [24]:
london = City('London', 8961989, 1572)

In [25]:
london.info()

name: London, population: 8961989, area: 1572, density 5701.010814249364

### Importing Libraries

Research programming is all about using libraries: tools other people have provided programs that do many cool things.
By combining them we can feel really powerful but doing minimum work ourselves. The python syntax to import someone else's library is "import".

Libraries contain variables, functions, and classes that we can call directly. In this module we will be mainly using the following libraries:
* geopandas: for using and manipulating spatial data
* networkx: for working with networks
* osmnx: for downloading and creating networks from roads
* numpy: for numerical computing
* pandas: for working with data in general
* matplotlib/seaborn: for plotting and visualization

In [26]:
import geopy # A python library for investigating geographic information.
# https://pypi.org/project/geopy/

# get coordinates of cambridge
geocoder = geopy.geocoders.Nominatim(user_agent='CASA0002')
geocoder.geocode('Cambridge')

ModuleNotFoundError: No module named 'geopy'

## Pandas

Pandas is an open source module providing high-performance, easy-to-use data structures and data analysis tools for Python. 

We will be using **Pandas** and it's spatial counterpart **GeoPandas** in this module, so do familiarize yourself with the library.

_additional resources_: 
* (pandas library)[https://pandas.pydata.org]
* (cookbook)[https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html] 


We import pandas like any other library

In [27]:
import pandas as pd

Pandas lets us work with dataframes, a 2-dimensional labeled data structure with columns of pontentially different types (similar to a spreadsheet). **DataFrames** can be created with many different types of inputs.

For example, bellow we create a dictionary of lists and we use this dictonary to create our dataframe. the keys in the _dict_ become the columns.

In [28]:
d = {"one": [1,2,3,4],
     "two": [10,9,8,7]}

df = pd.DataFrame(d) #df = dataframe 
df

   one  two
0    1   10
1    2    9
2    3    8
3    4    7

The most common way of creating dataframes is to read data directly from a .csv file. 

> pd.read_csv()

As an example bellow we will be reading **Googles COVID-19 Mobility Reports** for the UK located in our data folder.

In [29]:
#read csv data
data = pd.read_csv('data/2020_GB_Region_Mobility_Report.csv')

#this prints the head of the dataframe
data.head() # head is first five rows

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-15,-12.0,-7.0,-35.0,-12.0,-4.0,2.0
1,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-16,-7.0,-6.0,-28.0,-7.0,-3.0,1.0
2,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-17,10.0,1.0,24.0,-2.0,-14.0,2.0
3,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-18,7.0,-1.0,20.0,-3.0,-14.0,2.0
4,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-19,6.0,-2.0,8.0,-4.0,-14.0,3.0

### Pandas Describe
Provides descriptive statistics on the data: means, dispersions, shape of the dataset. These statistics exlude any missing values. Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types. The output will vary depending on what is provided.

In [30]:
data.describe() # means, dispersions, shape of the dataset

,metro_area,census_fips_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
count,0.0,0.0,129806.000000,130653.000000,105066.000000,129583.000000,135167.000000,123026.000000
mean,NaN,NaN,-37.853065,-11.766328,24.056022,-37.223903,-37.068242,13.205615
std,NaN,NaN,27.190530,15.860216,53.853899,24.067937,21.334872,8.009182
min,NaN,NaN,-100.000000,-97.000000,-96.000000,-99.000000,-91.000000,-2.000000
25%,NaN,NaN,-61.000000,-20.000000,-10.000000,-54.000000,-52.000000,8.000000
50%,NaN,NaN,-37.000000,-11.000000,13.000000,-40.000000,-39.000000,12.000000
75%,NaN,NaN,-17.000000,-3.000000,46.000000,-23.000000,-22.000000,18.000000
max,NaN,NaN,143.000000,104.000000,633.000000,156.000000,38.000000,42.000000

### Subsetting data

One important functionality is being able to slice, dice, and create subsets of our data. This can be done in multiple ways.

The most basic indexing in pandas is []:
> data['column']

More advanced indexing can de done using _.loc_

* _.loc_ allows the use labels to get our data
*_.iloc_ allows the use of interger position to subset the data

In [31]:
#use basic [] indexing to get sub_region_1 column data
data['sub_region_1'] #data['column']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
136724    York
136725    York
136726    York
136727    York
136728    York
Name: sub_region_1, Length: 136729, dtype: object

We can also use boolean operators to only select data that meet a specified criteria

In [33]:
#here we select only the data where sub_region_1 is equal to 'Greater London'
london_data = data[data['sub_region_1']=='Greater London' ]

In [34]:
# use .loc to get data by the label of the index
london_data.loc[37164]

country_region_code                                               GB
country_region                                        United Kingdom
sub_region_1                                          Greater London
sub_region_2                                                     NaN
metro_area                                                       NaN
iso_3166_2_code                                                  NaN
census_fips_code                                                 NaN
date                                                      2020-02-15
retail_and_recreation_percent_change_from_baseline             -11.0
grocery_and_pharmacy_percent_change_from_baseline               -8.0
parks_percent_change_from_baseline                             -34.0
transit_stations_percent_change_from_baseline                  -10.0
workplaces_percent_change_from_baseline                         -3.0
residential_percent_change_from_baseline                         2.0
Name: 37164, dtype: object

In [35]:
# we can also use .loc to get a specific column as follows
london_data.loc[:,'retail_and_recreation_percent_change_from_baseline']

37164   -11.0
37165    -9.0
37166    11.0
37167     4.0
37168     3.0
         ...
48345   -67.0
48346   -70.0
48347   -69.0
48348   -70.0
48349   -72.0
Name: retail_and_recreation_percent_change_from_baseline, Length: 11186, dtype: float64

In [36]:
#or we can use a list of the columns that we want to subset
columns = ['retail_and_recreation_percent_change_from_baseline', 
           'grocery_and_pharmacy_percent_change_from_baseline', 
           'transit_stations_percent_change_from_baseline',
           'workplaces_percent_change_from_baseline',
           'residential_percent_change_from_baseline',
           'date'
          ]

#assign subset of data to new variable called subset
subset = london_data.loc[:,columns]
subset.head()

,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,date
37164,-11.0,-8.0,-10.0,-3.0,2.0,2020-02-15
37165,-9.0,-11.0,-9.0,-4.0,1.0,2020-02-16
37166,11.0,4.0,-3.0,-13.0,2.0,2020-02-17
37167,4.0,-2.0,-4.0,-13.0,2.0,2020-02-18
37168,3.0,-3.0,-5.0,-13.0,3.0,2020-02-19

### Plotting with Pandas

We can directly plot the data in our dataframe using the _.plot()_ method

In [1]:
#date to datetime format
subset.date = pd.to_datetime(subset.date, infer_datetime_format=True)
#set index to date
subset.set_index('date', inplace=True, drop=True)
#plot
subset.plot(figsize= (15,7))

NameError: name 'pd' is not defined

## Geopandas

GeoPandas is an open source project to make working with geospatial data in python easier. GeoPandas extends the datatypes used by pandas to allow spatial operations on geometric types. Geometric operations are performed by shapely. Geopandas further depends on fiona for file access and descartes and matplotlib for plotting.

> import geopandas as gpd

We can read shapefiles and other types of spatial data into python using geopandas with _.read_file()

In [41]:
import geopandas as gpd
import matplotlib
import matplotlib.pyplot as plt

#location of the shapefile
fp = "data/LSOA_2011_London_gen_MHW.shp"

#read shapefile
gdf=gpd.read_file(fp)

ModuleNotFoundError: No module named 'geopandas'

In [ ]:
#we can use all the functions available in pandas, such as .head()
gdf.head()

In [ ]:
## it is important to note that geopandas always has a geometry columns
## here the geoemtries as stored as shapely objects, we should not change
### the name of the geometry column
print(gdf.columns)

In [ ]:
# geopandas can make geographic plots with a simple plot method.

# Set up the matplotlib figure
matplotlib.rcParams['font.size'] = 12

# set to epsg=3857 
gdf = gdf.to_crs(epsg=3857)

# geodataframe.plot method
ax=gdf.plot(figsize=(20, 20), alpha=0.8, linewidth=0.1,edgecolor='w',
            column='POPDEN',legend=True,vmin=1,vmax=200,
           legend_kwds={'label': "Population density (person/HA)",'orientation': "vertical",'shrink': 0.5})

# this sets the title
ax.set_title("Population Density in Greater London",fontsize= 30)

# this removes the axis
ax.set_axis_off()

### References

* Python for Data Analysis: Data Wrangling with Pandas, NumPy, and Ipython (Wes McKinney)


* Python Official Tutorial https://docs.python.org/3/tutorial/index.html


* John V. Guttag. Introduction to Computation and Programming Using Python. MIT Press 2013.